/* User_Portal.css */
h2{
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.par{
    background-color: #000000;
}
.Details {
    padding: 25px;
    background-color: #FFFEFE;
    border-radius: 20px;
    width: 70%;
    height: 15%;
    color: #ffffff;
    margin: 20px;
  }
  
  .details-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap; /* Prevent wrapping to keep items in a single row */
    overflow-x: auto;  /* Add horizontal scroll if necessary */
  }
  
  .detail-item {
    background-color: #8BD6CD;
    color: #000000;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; /* Prevent shrinking and wrapping */
    min-width: 130px; /* Set a minimum width for each card */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .detail-item strong {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .detail-item div {
    font-size: 16px;
  }
  