body {
    
        background: #F5F9FE; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100vh; /* Full viewport height */
        width: 100%; /* Full viewport width */
        text-align: center;
        display: flex; /* Use Flexbox for centering content */
        flex-direction: column;/* Add some padding for better spacing */
        box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
        font-family: "Kanit", sans-serif;
      
}
.app {
    background: #a8d5e5;
}
h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
h2 {
    color: #165a72;
}